* {
  font-family: 'Helvetica', sans-serif;
}

h3 {
  font-size: 24px;
  text-align: center;
}

a {
  display: block;
}

.red {
  color: red;
}

.chart {
  background: lightgray;
  border: 1px solid black;
  /*width: 525px;
  height: 725px;*/
}

.bar {
  height: 30px;
  color: green;
  fill: lightgreen;
  stroke: black;
  stroke-width: 1;
}

.bar-on {
  fill: lightblue;
}

rect {
  fill: steelblue;
  stroke: black;
  stroke-width: 1;
}

rect:hover {
  fill: turquoise;
}

.ball {
  fill: steelblue;
  fill-opacity: 0.35;
  stroke: steelblue;
  stroke-width: 2;
}

#block {
  background: lightgray;
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.block {
  background: lightgray;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  margin-bottom: 1em;
}
