* {
  font-family: 'Helvetica', sans-serif;
}

h3 {
  font-size: 24px;
  text-align: center;
}

a {
  display: block;
}

.red {
  color: red;
}

.chart {
  background: lightgray;
  border: 1px solid black;
  min-width: 200px;
  min-height: 350px;
}

.bar {
  height: 30px;
  color: green;
  fill: lightgreen;
  stroke: black;
  stroke-width: 1;
}
